@import './fonts.css';

:root {
  --size: 40px;
  --thin: 1px;
  --color: rgba(0, 0, 0, 0.28);
  --thick-color: rgba(0, 0, 0, 0.12);
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  background-color: #f5f5f5;
  overflow-x: hidden;
  max-width: 100%;
}

#app {
  width: 100%;
}

html {
  scroll-behavior: smooth;
}
